body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1DB954;
    padding: 10px 20px;
}

header .logo img {
    height: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.login-container, .register-container {
    margin-top: 100px;
    background: #282828;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background: #1DB954;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #17a54d;
}

p a {
    color: #1DB954;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
